<header>
  <div class="ccLogo">
    <img src="images/logo.png" alt="Connect Canada Logo" />
    <!-- Logo created using https://hatchful.shopify.com/ -->
  </div>
  <h1>Connect Canada</h1>
  <p class="tagline">Canada's Best Internet Service Provider</p>
</header>
<nav>
  <a href="#">Home</a>
  <a href="/">Raise Concern</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/login">Login</a>
  <a class="logout" href="/logout">Logout</a>
</nav>
