<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %>
    <title>Delete Message</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <h3 class="message">Thank you <br />The request has been successfully deleted</h3>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
